<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- vue传值 -->
        <p> {{name}} </p>
        <!-- vue方法调用 -->
        <p>{{greet('yaosai')}}</p>
        <!-- vue属性绑定，使用v-bindv-bind -->
        <a v-bind:href="website">百度链接</a>
        <!-- v-html:绑定标签 -->
        <p v-html="websiteTag"></p>
        <!-- vue事件v-on,事件绑定后的方法不需要加括号，因为vue能确定是方法 -->
        <!-- <button v-on:click="age++">点击加一</button> -->
        <!-- <button v-on:click="age--">点击减一</button> -->
        <!-- 将操作放在js方法里,注意：v-on和@功能一样 -->
        <button v-on:click="add(1)">点击加一</button>
        <button @click="sub(1)">点击减一</button>
        <p>my age is {{age}}</p>
        <!-- 对进行操作 -->
        <div id="canvas" v-on:mousemove="updateXY">
            {{x}},{{y}}
            <!-- 使用事件修饰符代替事件 -->
            <!-- <span @mousemove="stopMove">在此处方法失效</span> -->
            <!-- stop修饰符，使方法失效 -->
            <span @mousemove.stop>在此处方法失效</span>
        </div>
        <!-- prevent修饰符可以阻止默认跳转 -->
        <a @click.prevent="alert()" href="http://www.baidu.com">阻止默认跳转</a>

        <h1>双向数据绑定：input、select、textarea</h1>
        <label>姓名：</label>
        <!-- ref,将对象注册到ref中，名字为name1 -->
        <input ref="name1" type="text" @keyup="logName1">
        <span>{{name1}}</span>
        <label>年龄：</label>
        <input ref="age1" type="text" @keyup="logAge1">
        <span>{{age1}}</span>

        <h1>双向数据绑定：v-model方法可以实现双向绑定，不需要再写方法</h1>
        <label>姓名：</label>
        <!-- ref,将对象注册到ref中，名字为name1 -->
        <input ref="name1" type="text" v-model="name1">
        <span>{{name1}}</span>
        <label>年龄：</label>
        <input ref="age1" type="text" v-model="age1">
        <span>{{age1}}</span>
    </div>

    <script src="app.js"></script>
</body>

</html>